/* stylesheets/application.css */
body {
  font-family: Verdana, Geneva, sans-serif;
}

#right_side {
  float: right;
}

p#contact {
  font-size: 12px;
  float: right;
  margin: 0px;
}

#left_side {
  clear: left;
}

p#logo, p#slogan, p#navigation_link, p#external_services {
  text-align: center;
}

ul li {
  margin-bottom: 10px;
}

#facebook_like_button {
  border: none;
  overflow: hidden;
  /* Remember to change the width in the source url as well*/
  width: 100px;
  height: 21px;
}

h2 {
  font-size: 24px;
  color: #cb0000;
}

h2#coming_soon {
  text-align: center;
}

#notice {
  color: green;
}

del {
  font-size: 20px;
  color: #cb0000;
}

del span {
  color: black;
}

/* simple form */

.simple_form label {
  float: left;
  width: 100px;
  text-align: right;
  margin: 2px 10px;
}

.simple_form div.input {
  margin-bottom: 10px;
}

.simple_form input[type='submit'] {
  margin-left: 120px;
}

.simple_form .error {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: red;
  display: block;
}

