%p.navigation_link
  = link_to "Interested?", root_path
%p
  %ol
    %li
      %del
        %span Write down which items i sold and buyer's address
      %p
        After a buyer successfully completes payment, the item details along with the buyer's address will be automatically sms'd to you. This saves you time and removes your need for Internet access.
    %li
      %del
        %span Take items to post office
      %p
        Optionally nominate suppliers for your products. When you sell a product that has a nominated supplier, the item details along with the buyer's address will be sms'd to the supplier. The supplier must then confirm that they received and understood the contents of the order by confirming the quantity of the individual line items via sms.
      %p
        Because suppliers fully interact with the system over sms they're not required to have access to the Internet. This opens up the possibility of forming relationships with suppliers that reside in countries where Internet access is limited. Typically it's in these countries where goods are cheaper and profit margins can be greater.
      %p
        You can also set up payment agreements with your suppliers to automatically pay them when they confirm or ship out an order. Furthermore, if your supplier's Paypal account is linked to their bank account you can have Paypal automatically transfer the funds into their bank account.
    %li
      %del
        %span Write down tracking # then email it to the buyer
      %p
        After you or your supplier ship out an order, you or they can sms in the tracking # and it'll be automatically emailed to the buyer along with a custom message of your choice. Again saving you time and the need for Internet access.

